[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
}
.hidden{
	display: none;
}
input#title{
	background-color: #FFF;
	width: 100%;
    font-size: xx-large;
}
.froala-reactive-meteorized-override>.fr-toolbar{
	border-top: 5px solid #00B5AD;
}
.body-dirty{
	border-top: 5px solid #E9A9A9 !important;
}
.please-login {
    padding-top: 25%;
    padding-left: 20%;
    font-size: xx-large;
    font-weight: bold;
    color: #999;
}
