<template name="postList">
	<h2 class="ui header">
		<div class="ui mini teal button add new" id="add-new"><i class="add icon"></i>Add new</div>
	</h2>
	<div class="ui tabular filter menu">
		<a data-tab="published" class="active item">Published</a>
		<a data-tab="draft" class="item">Draft</a>
	</div>
	<div data-tab="published" class="ui divided inbox selection list tab published">
		{{#each publishedPosts}}
			{{> postShort}}
		{{/each}}
	</div>
	<div data-tab="draft" class="ui divided inbox selection list tab draft">
		{{#each draftPosts}}
			{{> postShort}}
		{{/each}}
	</div>
	<div class="ui divider"></div>
</template>
