<template name="postList">

		<div class="header section">
                <button type="button" class="btn btn-sm teal add-new" id="add-new"><span class="glyphicon glyphicon-plus"></span>&nbsp;ADD NEW</button>
            </div>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#published" aria-controls="published" role="tab" data-toggle="tab">Published</a></li>
            <li role="presentation"><a href="#draft" aria-controls="draft" role="tab" data-toggle="tab">Draft</a></li>

          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="published">
                <div class="inbox">
					{{#each publishedPosts}}
						{{> postShort}}
					{{/each}}
                </div>

            </div>
            <div role="tabpanel" class="tab-pane" id="draft">
                 <div class="inbox">
					{{#each draftPosts}}
						{{> postShort}}
					{{/each}}
                </div>
            </div>
          </div>
</template>
